@import './variables.scss';

.about {
    background-color: $white;
    color: $black;
}

.about-content {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@include media-breakpoint-down(md) {
    .about {
        padding-top: 15vh;
    }
}