@import './variables.scss';

.banner {
    min-height: 100vh;
    color: $black;
    display: grid;
}

.banner-img {
    background-image: url(../images/cityskyline.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 325px;
    bottom: 0;
    left: 0;
    position: absolute;

}

.banner-content {
    margin-top: auto;
    margin-bottom: auto;
}

.header-pb {
    padding-bottom: 20px;
}
.text-pb {
    padding-bottom: 10px;
}