@import './variables.scss';

.contact {
    background-color: $white;
    color: $black;
    margin-top: 15%;
}
.contact-content {
    margin-top: auto;
    margin-bottom: auto;
}

a {
    text-decoration: none !important;
    color: $black;
    &:hover {
        color: $coral;
    }
}

.social-link {
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}
.social-spacer {
    display: inline-flex; 
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
@include media-breakpoint-down(md) {
    .social-link {
        font-size: 20px;
    }
    .social-spacer {
        font-size: 20px;
    }
}