@import "./bootstrap-bp/functions";
@import "./bootstrap-bp/variables";
@import "./bootstrap-bp/breakpoints";

// Global Coloring
$white: #ffffff;
$black: #000000;

$blue: #2878F0;
$green: rgb(40, 240, 67);
$purple: #CC6DDE;
$coral: #FF927F;
$orange: #FFC661;
$yellow: rgb(235, 235, 47);

$red-orange: #E56B60;
$beige: #E5D69C;
$aqua: #80E5D2;
$sky-blue: #7AC4D3;
$deep: #3D4866;


