@import "./variables.scss";

.carousel-control-next,
.carousel-control-prev {
  z-index: 0;
}

.showcase {
    background-color: #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.d-block {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint-down(sm) {
    height: 200px;
  }
}

.graphics {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.graphics-img {
  display: block!important;
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

.header-text {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.project-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project-info {
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  line-height: 2.5rem;
}

.project-nav {
  background-color: #ececec;
  padding: 1rem;
  text-align: center;
}

.btn-plink {
  cursor: pointer;
  text-align: right;
  color: $white;
  background-color: $sky-blue;
  background-image: none;
  border-color: $sky-blue;
  font-size: 20px !important;
  margin: 10px;
  &:hover {
    background-color: $deep;
    border-color: $deep;
    color: $white;
  }
}
.fa-arrow-alt-circle-left {
  font-size: 20px;
  margin-right: 10px;
}
