@import './variables.scss';

.work {
    background-color: $white;
    color: $black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
    @include media-breakpoint-down(md) {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
}

.showcase {
    background-color: #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    border: none !important;
    height: 400px !important;
    margin: 15px;
}

.card-shade {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000050;
    border-radius: 0.25rem !important;
    cursor: pointer;
    &:hover {
        background-color: #000000ab;
    }
}

.card-img {
    position: absolute;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.img-seating-app {
    background-image: url('../images/seatingapp.png');
    background-position: center bottom;
    background-size: contain;
}
.img-jill {
    background-image: url('../images/jillrealtor.png');
    background-position: center bottom;
    background-size: contain;
}
.img-my-portfolio-old {
    background-image: url('../images/portfolio-old1.png');
    background-position: center bottom;
    background-size: contain;
}
.img-my-portfolio {
    background-image: url('../images/portfolio1.png');
    background-position: center bottom;
    background-size: contain;
}
.img-healthy-tid-bits {
    background-image: url('../images/healthyvending1.png');
    background-position: center bottom;
    background-size: contain;
}
.img-healthy-tid-bits-brochure {
    background-image: url('../images/healthyvending.png');
    background-position: center bottom;
    background-size: contain;
}


// Card Body
.h-mobile {
    @include media-breakpoint-down(md) {
        height: 300px !important;
    }
}

.card-body {
    position: absolute;
    top: 5px;
}

.card-text {
    color: $white;
    font-weight: 500;
}

// Column Sizing
.col-work {
    padding-left: 0 !important;
    padding-right: 0 !important;
}